In [ ]:
'hi'

In [ ]:
'welcome'

In [ ]:
6+2

In [ ]:
64+65+25

In [ ]:
'welcome to python'

In [ ]:
a=5
print(a)

In [ ]:
'welcome'

In [7]:
input('enter name')

In [ ]:
input('enter age')

In [ ]:
a=input('entere a value')
b=input('enter a value')
c=a+b
print(c)

In [5]:
count=1
while(count<=6):
    print(f'counting:{count}')
    count+=1

counting:1
counting:2
counting:3
counting:4
counting:5
counting:6

In [ ]:
courses=['c','c++','pytghon','dart']
courses

In [3]:
for result in courses:
    print(result,end=',')

NameError: name 'courses' is not defined

In [ ]:
sentence='my name is pranav'
for item in sentence:
    print(item)

In [ ]:
number=range(5)
number

In [ ]:
for number in range(5):
    print(number)

In [ ]:
number=range(6,16)
number

In [ ]:
for number in numbers:
    print(number)

In [ ]:
number=range(1,9,10)
number

In [ ]:
for number in numbers:
    print(number)

In [ ]:
a=[1,2,3,4]
b=[5,6,7,8]
for i in a:
    for j in b:
        print(1+j,end='')
    print()

In [ ]:
for i in range(1,5):
    for j in range(0,i):
        print('*',end='')
    print()

In [ ]:
brevarages=['pepsi','coco cola','7 up','miranda']
for brevarage in brevarages:
    if brevarage=='fanta':
        print('fanta is available')
        break
        print(brevarages)

In [ ]:
brevarages=['pepsi','coco cola','7 up','miranda']

In [ ]:
for brevarage in brevarages:
    if brevarage=='fanta':
        continue
    print(f'buy {brevarage}')

In [ ]:
name=['arun','varun','pranav','arun','mani','arun']
i=0
c=0
while(i<len(name)):
    if (name[i]=='arun'):
        c=c+1
    i=i+1
else:
    print(f'no of time occur{c}')

In [ ]:
books=['tamil','english','maths']
count=0
while count<len(books):
    if books[count]=='marathi':
        print('marathi book found')
    count+=1
else:
    print('book not available')

In [ ]:
books=['tamil','english','maths']
for book in books:
    if book=='marathi':
        print('marathi book is available')
    else:
        print('book not available')

In [2]:
def add_user(name,mailid,phonenumber,age=17,city='cuddalore'):
    user={
        'firstname':name,
        'mailid':mailid,
        'phonenumber':phonenumber,
        'age':age,
        'city':city,
    }
    return user

In [4]:
add_user('pranavaraj','pranavaraj@gmail.com','000000000',
         city='pondicherry')

{'firstname': 'pranavaraj',
 'mailid': 'pranavaraj@gmail.com',
 'phonenumber': '000000000',
 'age': 17,
 'city': 'pondicherry'}

In [5]:
add_user('pranavaraj','pranavarj@gmail.com','0000000000',
         city='pondicherry',age=23)

{'firstname': 'pranavaraj',
 'mailid': 'pranavarj@gmail.com',
 'phonenumber': '0000000000',
 'age': 23,
 'city': 'pondicherry'}

In [6]:
def order_food(*items):
    cart=[]
    for item in items:
        cart.append(item)
        return cart

In [7]:
lunch=order_food('chilly chicken','butter chicken',
                 'butter rotti','juice')
print(lunch)

['chilly chicken']

In [9]:
def sum_all_numbers(*numbers):
    total=sum(numbers)
    return total

In [12]:
sum_all_numbers(1,20,3,40,50)

114

In [15]:
def calculate_area(length,height):
    """
    to calculate the rectangle area:
    calculate_area(length of rectange,height of rectangle)
    """
    rectangle_area=length*height
    return rectangle_a

In [37]:
help(calculate_area)

Help on function calculate_area in module __main__:

calculate_area(length, height)
    to calculate the rectangle area:
    calculate_area(length of rectange,height of rectangle)

In [6]:
#class
class amazonaccount:
    message='welcome to amazon'

In [7]:
#object
pranav=amazonaccount()
kishore=amazonaccount()

In [8]:
pranav.message

'welcome to amazon'

In [9]:
kishore.message

'welcome to amazon'

In [10]:
class amazonaccount:
    #constructor
    def __init__(self):
        print(f'object created')
    #destructor
    def __del__(self):
        print(f'object deleted')
pranav=amazonaccount()

object created

In [11]:
del pranav

object deleted

In [15]:
class msg:
    a='welcome class'
m1=msg()    
print(m1,0)

<__main__.msg object at 0x7fb4dffd6b50> 0

In [16]:
class student:
    def student(self,name,rno,course,mark):
        self.name=name
        self.rno=rno
        self.course=course
        self.mark=mark
    def display(self):
        print('name:',self.name)
        print('rno:',self.rno)
        print(f'course.{self.course}\n mark:{self.mark}')
        s=student()
        s.stuinfo('pranav',1001,'python',98)
        s.display()

In [19]:
class student:
    def __init__(self,name,rno,course,mark):
        self.name=name
        self.rno=rno
        self.course=course
        self.mark=mark
    def display(self):
        print(f'name:{self.name}\n rno:{self.rno}\n course:{self.course}\n mark:{self.mark}')
        def __del__(self):
            print('object destroyed')

In [20]:
m1=student('pranav',1002,'sql',98)
m1.display()
del m1

name:pranav
 rno:1002
 course:sql
 mark:98

In [2]:
#class
class amazonaccount:
    #public class variables
    message='welcome to amazon'
    #private class variables
    __default_delivery=7
    #constuctor
    def __init__(self,name,mail):
        #store argument in object varibles
        self.name=name
        self.__mail=mail
        print(f'hello{self.name}!\n{self.message}')

In [3]:
#object 01
pranavaraj=('pranavarj','pranav@gmail.com')

In [5]:
pranavaraj.__mail

AttributeError: 'tuple' object has no attribute '__mail'

In [12]:
#parent class or primary class
class amazonaccount:
    __default_delivery=7
    welcomemessage='wecome to amzon acco
    def __init__(self,name,mobile,email):
        def shopping(self,item):
            print(f'{self.name} bought{item}')
        def delivery(self):
            print(f'your order will be deliverd in{self.__default_delivery}')    
        def __deactive_account(self):
            print(f'{self.name} amazon deactivate successfully')

In [13]:
pranavaraj=amazonaccount('pranavaraj',9870654,'pranavarj@gmail.com')

In [5]:

class standrad_account:
    __default_delivery=7
    def __init_(self,name,mobile,email):
        self.name=name
        self,mobile=mobile
        self.email=email
        print(self.welcomemessage)
    def shopping(self,item):
        print(f'{self.name} bought {items}')    
    def delivery(self):
        print(f'your order will be delivered in{self.__default_delivery}')    
    def deactivate_account(slef):
        print(f'{self.name}account deactivae successfully')

In [ ]:

class premium_account(standrad_account):
    welcomemessage='welcome to aatomz **p
    # same function name in parent and child class
    def delivery(self):
        premium_delivery=1
        print(f'''your order will be delivered
              in{premium_delivery}days''')
        def print(differnt forms of polymorphism in print in the correct form in the correct positonal order)